/* Styles pour PC */
.project_detail {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 4fr));
    grid-gap: 15px;
    grid-auto-rows: minmax(180px, auto);
    grid-auto-flow: dense;
    padding: 1px;
  }