/* Styles pour PC */
.project_detail {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    gap : 20px;
    }

.project_detail >* :hover{
    .project_detail{
        background-color: aquamarine;
    }
}

@media screen and (max-width: 768px) {
    .project_detail {
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }    
}