.projectbody {
  position: relative;
  max-width: 55vh;
  min-height: 35vh;

  padding: 1rem;
  font-size: 14px;
  font-weight: bold;
  /* text-transform: uppercase; */
  color: #ffffff;
  background-color: #27272700;
  border-radius: 10px;

  box-shadow: 0 0 10px rgba(119, 119, 119, 0.591);  
}
  
p {
    margin-bottom: 0.8em;
  }

.details-button {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  
  background-color: #272727;
  color: #f1f1f1;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.details-button:hover {
    background-color: #f1f1f1;
    color: #272727;
    transition: 0.5s;
  }

