.projectbody {
    padding: 1rem;
    font-size: 14px;
    font-weight: bold;
    /* text-transform: uppercase; */
    color: #ffffff;
    background-color: #272727ad;
    border-radius: 10px;
  }
  
p {
    margin-bottom: 0.8em;
  }

.details-button {
    background-color: #272727;
    color: #f1f1f1;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
  }

.details-button:hover {
    background-color: #f1f1f1;
    color: #272727;
    transition: 0.5s;
  }

