body {
  color: #ffffff;
}

/*------------------- CSS Accueil (pour grand écran) -------------------*/
.arrondi {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
}

.blob-acceuil {
  position: absolute;
  opacity: 0.5;
  width: 400px; /* Taille par défaut pour PC */
  aspect-ratio: 1/1;
  animation: animate-background 10s cubic-bezier(0.66, -0.55, 0.27, 1.55) infinite alternate forwards;
  filter: blur(40px);
  z-index: -1;
  background: linear-gradient(47deg, rgba(255, 88, 139, 1) 21%, rgb(0 164 173) 67%, rgba(118, 74, 166, 1) 81%);
}

.blob-corp-left, .blob-corp-right {
  position: absolute;
  opacity: 0.9;
  width: 400px; /* Taille par défaut pour PC */
  aspect-ratio: 1/1;
  filter: blur(40px);
  z-index: -1;
  background: linear-gradient(47deg, rgb(183, 235, 135) 21%, rgb(236,228,171) 67%, rgb(245, 171, 129) 81%);
}

.blob-corp-right {
  left: 65%;
}

/*** Code css flèche ***/
.arrow {
  position: absolute;
  top: 92%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.arrow span {
  display: block;
  width: 1vw;
  height: 1vw;
  border-bottom: 5px solid white;
  border-right: 5px solid white;
  transform: rotate(45deg);
  animation: animate-arrow 3s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate-arrow {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

.contenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5%;
  background-color: rgba(10, 10, 10, 0.829);
  width: 100%;
  min-height: 90vh;
  font-size: 1.2em;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.info_personnel, .info_professionnel {
  max-width: 50%;
  margin-top: 10%;
  img {
    height: 25vh;
  }
  
  video {
    height: 25vh;
  }
}

.info_professionnel {
  margin-left: 65%;
}

/* Styles pour les grands écrans (PC) */
.info img, .info video {
  object-fit: cover;
  height: 25vh;
}

/* Styles pour PC */
.project_detail {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 4fr));
  grid-gap: 15px;
  grid-auto-rows: minmax(180px, auto);
  grid-auto-flow: dense;
  padding: 1px;
}

.accordion {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;  
  font-size: 1.2em;
}


/*------------------- Media Queries pour tablettes et petits PC -------------------*/
@media (max-width: 1400px) {
  .arrondi h2 {
    font-size: 2em; /* Réduire la taille du texte */
  }

  .blob-acceuil, .blob-corp-right {
    width: 200px; /* Réduction de la taille des blobs */
  }

  .info_personnel, .info_professionnel {
    max-width: 100%;
    margin-left: 5%;
    img{
      height: 15vh;
    }
    video {
      height: 15vh;
    }
  }

  .contenu {
    font-size: 1em; /* Réduire légèrement la taille du texte */
  }

  .arrow span {
    width: 2vw; /* Agrandir légèrement la flèche */
    height: 2vw;
  }
}

/*------------------- Media Queries spécifiques aux téléphones -------------------*/
@media (max-width: 768px) {
  .arrondi {
    font-size: 1.5em; /* Réduire encore plus la taille du texte */
    justify-content: center;
  }

  .blob-acceuil, .blob-corp-right, .blob-corp-left {
    width: 100px; /* Taille encore plus petite des blobs */
  }

  .info {
    flex-direction: column; /* Passage à une direction de colonne pour les téléphones */
    align-items: center;
  }

  .info_personnel, .info_professionnel {
    max-width: 100%;
    margin-left: 0;
    text-align: center;
    img {
      height: 5vh;
    }
  
    video {
      height: 10vh;
    }
  }

  .accordion {
    display: block;
  }

  .contenu {
    font-size: 0.9em; /* Taille du texte encore plus petite */
    padding: 10%;
  }

  .arrow {
    top: 85%; /* Ajuster la position de la flèche */
  }

  .arrow span {
    width: 3vw;
    height: 3vw;
  }

  .project_detail {
    grid-template-columns: repeat(auto-fill, minmax(300px, 4fr));
  }
}
