body{
  /* overflow: hidden; */
  color : #ffffff;
} 

.accueil {
  color : #ffffff;
}

.arrondi {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
}

.blob {
  position: absolute;
  opacity: 0.5;
  width: 400px;
  aspect-ratio: 1/1;
  animation: animate-background 10s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite
    alternate forwards;
  filter: blur(40px);
  z-index: -1;
  background: linear-gradient(
    47deg,
    rgba(255, 88, 139, 1) 21%,
    rgb(0 164 173) 67%,
    rgba(118, 74, 166, 1) 81%
  );

  /*  Optional  */
  /*   box-shadow: inset 50px 50px 17px 0px #ff588b,
    inset 100px 100px 17px 0px #66319f; */
}

@keyframes animate-background {
  0% {
    translate: 30% -25%;
    border-radius: 60% 40% 30% 70% / 100% 85% 92% 74%;
  }
  50% {
    translate: 0% 13%;
    border-radius: 20% 71% 47% 70% / 81% 15% 22% 54%;
    rotate: 41deg;
    scale: 1.15;
  }
  100% {
    translate: -45% 39%;
    border-radius: 100% 75% 92% 74% / 60% 80% 30% 70%;
    rotate: -60deg;
    scale: 1.05;
  }
}


/*** Code css flèche ***/

.arrow {
  position: absolute;
  top: 92%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: rotate(0deg);
  cursor: pointer;
}

.arrow span {
  display: block;
  width: 1vw;
  height: 1vw;
  border-bottom: 5px solid white;
  border-right: 5px solid white;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate-arrow 3s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate-arrow {
  0% {
      opacity: 0;
      transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
      opacity: 1;
  }
  100% {
      opacity: 0;
      transform: rotate(45deg) translate(20px, 20px);
  }
}

.contenu {
  padding-bottom: 5%;
  background-color: rgba(10, 10, 10, 0.829);
  width: 100%;
  min-height: 90vh;
  height: 100%;
  font-size: 1.2em;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.info img {
  object-fit: cover;
  border-radius: 20%;
}

.info_personnel, .info_professionnel, .info_project {
  max-width: 50%;
  margin-left: 5%;
  margin-top: 10%;

  img {
    object-fit: cover;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    margin-left: 15px;
  }

  video {
    height: 300px;
    width: 300px;
    margin-left: 15px;
  }
}

.info_professionnel{
  margin-left: 45%;
}

.accordion {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;  
  font-size: 1.2em;
}