.cardTimeline {
    position: relative !important;
}

@media (width < 900px) {
    .cardTimeline {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}