body{
  /* overflow: hidden; */
  color : #ffffff;
} 

.accueil {
  text-align: center;
  color : #ffffff;
}

.contenu {
  margin-top: 5%;
  padding-bottom: 5%;
  background-color: rgba(73, 73, 73, 0.6);
  border-radius: 20% 20% 0% 0%;
  width: 100%;
  min-height: 90vh;
  height: 100%;
  font-size: 1.2em;
}

.arrondi {
  padding-top: 2%;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 5%;
}

.info img {
  object-fit: cover;
  border-radius: 20%;
}

.info_personnel, .info_professionnel, .info_project {
  max-width: 50%;
  margin-left: 5%;
  margin-top: 10%;

  img {
    object-fit: cover;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    margin-left: 15px;
  }

  video {
    height: 300px;
    width: 300px;
    margin-left: 15px;
  }
}

.info_professionnel{
  margin-left: 45%;
}

.accordion {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;  
  font-size: 1.2em;
}